.profiles {
  background: $thin-gray;
  padding: 40px 0;

  .items {
    @extend .df;
    @extend .df-wrap;
    @extend .jc-flex-start;
    //@extend .jc-space-between;
  }

  //Default
  .item {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 50px;
    border-radius: 10px;

    &:not(.online) {
      .online-icon {
        display: none;
      }
    }
    &:not(.popular) {
      .sticker-top {
        display: none;
      }
    }
    &:not(:nth-child(4n)) {

    }

    //Buttons
    .button-group{
      height: 40px;
      background: #7db9e8; /* Old browsers */
      background: -moz-linear-gradient(left,  #7db9e8 0%, #376cf8 0%, #4e92ff 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  #7db9e8 0%,#376cf8 0%,#4e92ff 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  #7db9e8 0%,#376cf8 0%,#4e92ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#4e92ff',GradientType=1 ); /* IE6-9 */
    }

    .btn-wishlist,
    .btn-text{
      background: transparent;
      height: 40px;
      color: $white;
      border-radius: 0;
      float: left;
      width: 50%;

      &:hover{
        background: $primary-color;
        transition: all $default-transition;
        box-shadow:none;
      }
      &:focus{
        outline: none;
      }
      &.active {
        //background: $primary-color;
        //transition: all $default-transition;
        box-shadow:none;

        .fa-star{
          color: $gold;
        }
      }

      &>span{
        font-weight: $regular;
        letter-spacing: 0.5px;
        margin-left: 3px;
      }


    }

    .btn-wishlist{
      border-right: 1px solid $light-blue;
    }

    //Special
    .sticker-qnt{
      background: rgba(0, 0, 0, 0.5);
      color: $white;
      font-size: $f14px;
      font-weight: $regular;
      letter-spacing: 0.5px;
      border-radius: 4px;
      padding: 6px 10px;
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .sticker-top {
      background: $pink;
      color: $white;
      font-size: $f14px;
      font-weight: $regular;
      letter-spacing: 0.5px;
      border-radius: 4px;
      padding: 6px 10px;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    .online-icon{
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-left: 5px;
      background: $light-green;
    }
  }

  //Media
  .image {
    overflow: hidden;
    position: relative;

    a {
      transition: opacity $default-transition;

      @extend .link-block;
      &:hover {
        opacity: 0.75;
      }

      .img {
        z-index: 0;
        position: relative;
        width: 100%;
        height: 230px;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0 0;
        @extend .pe-none;
      }
    }

  }

  //Info
  .info {
    border-radius: 0 0 10px 10px;
    padding: 17px 20px;

    .name{
      font-size: $f18px;
      font-weight: $medium;
      color: $primary-color;
      letter-spacing: 0.5px;
      margin-bottom: 3px;
    }
    .city{
      font-size: $f14px;
      font-weight: $regular;
      letter-spacing: 0.5px;
    }
  }
}

//Responsive
@media screen and (min-width: #{$screen-md-min} ) and (max-width: #{$screen-md-max} ){
  .profiles{
    .item{
      max-height: 345px;

      .btn-wishlist,
      .btn-text{
        padding: 5px;
      }
    }
  }
}

@media screen and (min-width: 0) and (max-width: #{$screen-xs-max} ) {
  .profiles {
    .image {
      a{
        .img{
          height: 320px;
          background-position: 50% 25%;
        }
      }
    }
  }
}

@media screen and (min-width: 0) and (max-width: #{$screen-zero-max} ){
  .profiles{
    .filter-view{
      .btn-list{
        width: 97px;
        font-size: $f14px;
        letter-spacing: 0;
      }
    }
  }
  .pagination {
    li{
      a{
        margin: 0 2px;
      }
    }

  }

}