//Global
html {
  font-family: $default-font;
  font-size: 100%;
  font-weight: normal;
}
body {
  font-family: $default-font;
  color: $default-color;
  font-size: 1em;
  line-height: 1.25;
  -webkit-font-smoothing: antialiased;
}
p, span {

}
h2 {
  font-size: $f30px;
}
h2, h3, h4 {
  font-weight: $regular;
}
h4 {
  font-size: $f18px;
}

